.chart-container {
  margin-top: 10px;
  padding-top: 40px;
  width: 300px;
}

.chart-info {
  padding-left: 15px;
  margin-bottom: 50px;
}

.chart-title {
  color: var(--primary-color);
  font-size: 36px;
}

.chart-subtitle {
  font-size: 17px;
}

.chart-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media (min-width: 576px) {
  .chart-container {
    margin-top: 40px;
    padding: 40px;
    width: 500px;
  }
}

@media (min-width: 768px) {
  .chart-container {
    width: 690px;
  }
}

@media (min-width: 992px) {
  .chart-container {
    width: 960px;
    display: flex;
    justify-content: space-between;
  }

  .chart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
